# 1C временные файлы и блокировки
*.1cLck
*.1cws
1Cv8.lk
1Cv8.log
1Cv8.tmp
1Cv8Tmp*
~*

# Логи и дампы
*.log
*.mdmp
*.dmp
/tmp/1c_*

# Node.js
node_modules/
npm-debug.log*

# Специфичное для EDT
.metadata/
.bin/
/build/
bin/
