ETCD_DATA_DIR="/var/lib/etcd/cluster-1c.etcd"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_NAME="{{ etcd_name }}"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ELECTION_TIMEOUT="5000"

ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ node_ip }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ node_ip }}:2379"
ETCD_INITIAL_CLUSTER="pg-node1=http://192.168.100.101:2380,pg-node2=http://192.168.100.102:2380,pg-node3=http://192.168.100.103:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_token }}"
ETCD_INITIAL_CLUSTER_STATE="new"
